@model IEnumerable<Test_db.Models.news>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Новости института</title>
</head>
<body>
    <h3>Новости</h3>
    <table>
        <tr>
            <td>Название</td>
            <td>Место</td>
            <td>Дата</td>
            <td></td>
        </tr>
        @foreach (var news in Model)
        {
            <tr>
                <td>@news.name</td>
                <td>@news.place</td>
                <td>@news.t.ToLongDateString(), @news.t.ToShortTimeString() </td>
                <td><a href="~/Home/News/@news.ID">Подробнее...</a></td>
            </tr>
        }
    </table>
</body>
</html>
